extends base 
block content 
    .container.pt-5
        form.jobForm.pt-5.d-none(action='')
            .row.gap-3.justify-content-lg-around
                .form-group.col-lg-5.col-sm-12
                    label(for='name')
                        | Nomi 
                        span.text-danger (Required)
                    input.jobName.form-control(type='text' required='')
                input.userType.d-none(type="text" value=`${user._id}`)
                .form-group.col-lg-5.col-sm-12
                    label(for='surname')
                        | Ish turi 
                        span.text-danger (Required)
                    select.jobType.form-control(name='' id='')
                        each jobType in jobTypes 
                            option(value=`${jobType._id}`)= jobType.name 
                .form-group.col-lg-5.col-sm-12
                    label(for='surname')
                        | Viloyatingiz
                        span.text-danger (Required)
                    select.form-control(name='' id='regionInput')
                        each region in regions
                            option(value=`${region._id}`)= region.name_uz
                .form-group.col-lg-5.col-sm-12
                    label(for='surname')
                        | Tumaningiz 
                        span.text-danger (Required)
                    select.form-control(name='' id='districtInput')
                .form-group.col-lg-5.col-sm-12
                    label(for='direction')
                        | Narxi 
                        span.text-danger (Required)
                    input.priceJob.form-control(type='number' required='')
                .form-group.col-lg-5.col-sm-12
                    label(for='surname')
                        | Ish haqida 
                        span.text-danger (Required)
                    textarea.jobContent.form-control(type="text") 
                .form-group.col-lg-5.col-sm-12.d-flex.align-items-end.justify-content-end.pb-3
                    button.btn.btn-warning(type='submit') O'zgartirish
        .row.pt-5
            .col-md-12
                .section-heading
                    h2 Mening ishlarim                   
            each job in jobs
                .col-md-4
                    .product-item.pb-3
                        .down-content
                            a.h4(href=`/${job._id}`)=job.title
                            h6.pt-3= `${job.price} $`
                            h4
                                small
                                    i.fa.fa-briefcase(style='font-size: 16px')
                                    p.text-info.d-inline-block(style='font-size: 16px')= job.type[0].name
                                    br
                                    strong
                                        i.fa.fa-building(style='font-size: 16px')
                                        p.text-info.d-inline-block(style='font-size: 16px; font-weight: 600')= job.district[0].name_uz 
                                    small
                                        strong(title='Posted on')
                                            i.d-block.fa.fa-calendar(style='font-size: 16px')
                                                p.pl-1.text-secondary.d-inline-block(style='font-size: 16px;font-weight:500')= job.time
                                        strong(title='Location')
                                            i.fa.fa-map-marker
                                                p.pl-1.text-secondary.d-inline-block(style='font-size: 16px;font-weight: 600')= job.region[0].name_uz
                        .row.px-5.g-3.justify-content-between.editContent 
                            button.updateJob.btn-warning.col-5.rounded.rounded-5(value=`${job._id}`) Update
                            button.deleteJob.btn-danger.col-5.rounded.rounded-5(value=`${job._id}`) Delete
    script(src="assets/js/myjobs.js") 
